doctype html
html(lang='th-TH')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(property="og:url", content="https://www.REPLACE ME.com")
    meta(property="og:type", content="website")
    meta(property="og:title", content="REPLACE ME")
    meta(property="og:description", content="REPLACE ME")
    meta(property="og:image", content="../images/REPLACE ME.png")
    meta(property="title", content="REPLACE ME")
    meta(property="description", content="REPLACE ME")
    meta(property="image", content="../images/REPLACE ME.png")
    link(rel="shortcut icon", href="../images/REPLACE ME.png")
    <title>REPLACE ME</title>
    link(rel='stylesheet', href='../styles/index.sass')
    script(src="https://kit.fontawesome.com/3cce59ba26.js" crossorigin="anonymous")
    title REPLACE ME
  body
    script(src='../scripts/index.ts')
